<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <title>Q&A</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wr">
                <div class="header-logo">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="header-nav">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item current_page_item">
                                <a href="" class="menu-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" class="menu-link">
                                    Dịch vụ</a>
                                <ul class="menu-list">
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">Dịch vụ</a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 1 2<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 1 3<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 1 4<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 1 5<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">Dịch vụ 2</a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 2 1<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 2 2<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 2 3<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Dịch vụ 2 4<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link ">Kiến thức</a>
                            </li>

                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Tuyển dụng
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-info">
                    <a href="" class="header-info-it">
                        <span class="icon">
                            <img src="./assets/images/ic-ph.svg" alt="">
                        </span>
                        <span class="text">
                            0931 845 160
                        </span>
                    </a>
                    <a href="" class="header-info-it">
                        <span class="icon">
                            <img src="./assets/images/ic-mail.svg" alt="">
                        </span>
                        <span class="text">
                            ketoaninno@gmail.com
                        </span>
                    </a>
                </div>
                <div class="header-lg">
                    <div class="header-lg-item">
                        <div class="header-lg-head">
                            <div class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="arr">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="header-lg-body">
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="burger">
                    <div class="hamburger" id="hamburger">
                        <svg class="ham" viewBox="0 0 100 100" width="40">
                            <path class="line top"
                                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40">
                            </path>
                            <path class="line middle" d="m 30,50 h 40"></path>
                            <path class="line bottom"
                                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav  menu-have-icon">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu</a>
                                </li>
                                <li class="menu-item dropdown current_page_item">
                                    <a href="" class="menu-link">
                                        Dịch vụ
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link ">
                                                Dịch vụ 1
                                            </a>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 2
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 3
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 4
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 2
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 3
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 4
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item ">
                                    <a href="" class="menu-link">
                                        Kiến thức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tuyển dụng
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-add">
                <div class="mobile-fl mb-16s">
                    <span class="fw-6">Địa chỉ:</span>
                    <a href="" class="mobile-text mobile-link">
                        618 Đường 3 tháng 2, Phường 14,
                        Quận 10, Thành phố Hồ Chí Minh
                    </a>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-fb.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-yt.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-ins.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-tiktok.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-zalo.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main nopd">
        <section class="bn-question">
            <div class="bn-question-img">
                <img src="./assets/images/phuoc/bn-question.png" alt="">
            </div>
            <div class="bn-question-content">
                <h3 class="bn-question-title p-title">
                    Hỏi đáp
                </h3>
                <div class="bn-question-breadcrumbs">
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list" data-aos="fade-up" data-aos-delay="500">
                            <li class="breadcrumbs-item">
                                <a href="">Trang chủ</a>
                            </li>
                            <li class="breadcrumbs-item active">
                                <a href="">Hỏi đáp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bn-question-list">
                <div class="bn-question-decor x1">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-01.png" alt="">
                    </div>
                </div>
                <div class="bn-question-decor x2">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-02.png" alt="">
                    </div>
                </div>
                <div class="bn-question-decor x3">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-03.png" alt="">
                    </div>
                </div>
                <div class="bn-question-decor x4">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-04.png" alt="">
                    </div>
                </div>
                <div class="bn-question-decor x5">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-05.png" alt="">
                    </div>
                </div>
                <div class="bn-question-decor x6">
                    <div class="image">
                        <img src="./assets/images/phuoc/decor-06.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="cn-question sc-pd10">
            <div class="container">
                <div class="cn-question-w">
                    <div class="cn-question-l">
                        <h3 class="cn-question-title">
                            Câu hỏi <span class="blue">thường gặp</span>
                        </h3>
                        <div class="cn-question-content">
                            <div class="cn-question-i">
                                <h3 class="cn-question-i-title">
                                    Ứng tuyển nộp hồ sơ
                                </h3>
                                <div class="cn-question-inner">
                                    <div class="question-collapse">
                                        <div class="question-list collapse-block " data-aos="fade-up">
                                            <div class="question-item collapse-item">
                                                
                                                <div class="question-head collapse-head">
                                                    <h3 class="title">
                                                        Làm gì khi muốn ứng tuyển vào làm việc tại Trung tâm Ngoại ngữ Anh Mỹ?
                                                    </h3>
                                                    <div class="question-line">
                                                        <span class="decor">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="question-body collapse-body">
                                                    <div class="question-body-w">
                                                        <p class="question-body-txt">
                                                            Ứng viên vui lòng ứng tuyển bằng một trong những hình thức sau:
                                                        </p>
                                                        <ul class="question-body-l">
                                                            <li class="question-body-i">
                                                                1. Điền thông tin qua website của Trung tâm Ngoại ngữ Anh Mỹ
                                                            </li>
                                                            <li class="question-body-i">
                                                                2. Gửi hồ sơ qua e-mail: anhmycenter@gmail.com
                                                            </li>
                                                            <li class="question-body-i">
                                                                3. Nộp hồ sơ trực tiếp: tại mỗi cơ sở của Trung tâm Ngoại ngữ Anh Mỹ
                                                            </li>
                                                        </ul>
                                                        <p class="question-body-txt">
                                                            Ghi chú: Hồ sơ ứng tuyển là bản photo không cần công chứng và sẽ không được hoàn trả lại.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-item collapse-item">
                                                <div class="question-head collapse-head">
                                                    <h3 class="title">
                                                        Sau khi nộp hồ sơ, ứng viên có nhận được phản hồi không?
                                                    </h3>
                                                    <div class="question-line">
                                                        <span class="decor">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="question-body collapse-body">
                                                    <p>
                                                        Hãy liên lạc với chúng tôi qua email info@khshield.com và chúng
                                                        tôi sẽ hồi đáp trong vòng 5 ngày làm việc. Lorem Ipsum chỉ đơn
                                                        giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="question-item collapse-item">
                                                <div class="question-head collapse-head">
                                                    <h3 class="title">
                                                        Lịch sơ tuyển và phỏng vấn sẽ được thông báo qua hình thức nào?
                                                    </h3>
                                                    <div class="question-line">
                                                        <span class="decor">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cn-question-i">
                                <h3 class="cn-question-i-title">
                                    Sơ tuyển - trước phỏng vấn
                                </h3>
                                <div class="cn-question-inner">
                                    <div class="question-collapse">
                                        <div class="question-list collapse-block " data-aos="fade-up">
                                            <div class="question-item collapse-item">
                                                <div class="question-head collapse-head">
                                                    <h3 class="title">
                                                        Lịch sơ tuyển và phỏng vấn sẽ được thông báo qua hình thức nào?
                                                    </h3>
                                                    <div class="question-line">
                                                        <span class="decor">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="question-body collapse-body">
                                                    <div class="question-body-w">
                                                        <p class="question-body-txt">
                                                            Ứng viên vui lòng ứng tuyển bằng một trong những hình thức sau:
                                                        </p>
                                                        <ul class="question-body-l">
                                                            <li class="question-body-i">
                                                                1. Điền thông tin qua website của Trung tâm Ngoại ngữ Anh Mỹ
                                                            </li>
                                                            <li class="question-body-i">
                                                                2. Gửi hồ sơ qua e-mail: anhmycenter@gmail.com
                                                            </li>
                                                            <li class="question-body-i">
                                                                3. Nộp hồ sơ trực tiếp: tại mỗi cơ sở của Trung tâm Ngoại ngữ Anh Mỹ
                                                            </li>
                                                        </ul>
                                                        <p class="question-body-txt">
                                                            Ghi chú: Hồ sơ ứng tuyển là bản photo không cần công chứng và sẽ không được hoàn trả lại.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-item collapse-item">
                                                <div class="question-head collapse-head">
                                                    <h3 class="title">
                                                        Khi tham dự phỏng vấn, cần mang theo giấy tờ, bằng cấp theo không?
                                                    </h3>
                                                    <div class="question-line">
                                                        <span class="decor">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="question-body collapse-body">
                                                    <p>
                                                        Hãy liên lạc với chúng tôi qua email info@khshield.com và chúng
                                                        tôi sẽ hồi đáp trong vòng 5 ngày làm việc. Lorem Ipsum chỉ đơn
                                                        giản là một đoạn văn bản giả, được dùng vào việc trình bày.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cn-question-r">
                        <div class="cn-question-info">
                            <div class="cn-question-info-img">
                                <img src="./assets/images/phuoc/logo.png" alt="">
                            </div>
                            <h3 class="cn-question-info-title">
                                Trung tâm Ngoại ngữ Anh Mỹ  
                            </h3>
                            <ul class="cn-question-info-list">
                                <li class="cn-question-info-i">
                                    Là hệ thống ngoại ngữ và ngoại khóa uy tín với hàng trăm học viên tin tưởng.
                                </li>
                                <li class="cn-question-info-i">
                                    Với chất lượng giảng dạy đạt chuẩn quốc tế cùng 3 trung tâm hiện đại
                                </li>
                            </ul>
                            <a href="" class="btn">
                                <span class="txt">
                                    Về chúng tôi
                                </span>
                                <span class="icon">
                                    <img src="./assets/images/phuoc/right.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <a href="" class="custom-logo-link">
                    <img src="./assets/images/logo.png" alt="">
                </a>
                <p class="text">
                    Accounting & Tax Services
                </p>
            </div>
            <div class="footer-main">
                <div class="footer-flex row setGF">
                    <div class="footer-item">
                        <ul class="address">
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-locate.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    618 Đường 3 tháng 2, Phường 14,
                                    Quận 10, Thành phố Hồ Chí Minh
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-ph.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    <a href="" class="address-link">
                                        0931 845 160
                                    </a>
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-mail.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    <a href="" class="address-link">
                                        ketoaninno@gmail.com
                                    </a>
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-time.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    8:30 - 17:00
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <div class="footer-mid">
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur. Auctor pulvinar duis arcu porta sit bibendum.
                                Est
                                nulla nisl tincidunt id. Elementum felis amet habitant placerat eu turpis vitae dui.
                                Felis
                                fermentum sapien sed etiam sollicitudin tortor.
                            </p>
                            <div class="footer-f">
                                <form action="">
                                    <div class="footer-f-ip">
                                        <input type="text" placeholder="Điền email của bạn">
                                        <button type="submit">
                                            <span class="txt">
                                                <img src="./assets/images/icon-send.svg" alt="">
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <ul class="social">
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-fb.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-yt.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-tw.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-ins.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-tiktok.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Kiến thức
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Dịch vụ
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Tuyển dụng
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Liên hệ
                                </a>
                            </li>
                        </ul>
                        <div class="fanpage">
                            <div class="fanpage-inner">
                                <img src="./assets/images/fanpage.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cpr">
            <div class="footer-cpr-img">
                <img src="./assets/images/Signature.svg" alt="">
            </div>
        </div>
    </footer>
    <div class="popup" data-popup-id="member">
        <div class="popup-overlay">
        </div>
        <div class="popup-main popup-member-box">
            <div class="popup-over">
                <div class="popup-wrapper">
                    <div class="popup-member">
                        <div class="popup-member-flex row setN">
                            <div class="popup-member-img col-6">
                                <div class="img">
                                    <div class="img-inner">
                                        <img src="./assets/images/rel2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="popup-member-info col-6">
                                <div class="inner">
                                    <p class="role">
                                        Trưởng bộ phận dịch vụ hỗ trợ doanh nghiệp
                                    </p>
                                    <p class="name">
                                        Anh Lê Tuấn Thiện
                                    </p>
                                    <div class="desc">
                                        <p class="desc-txt">
                                            Anh Thiện đã có cơ hội theo học tại trường Đại học kinh tế Nhật
                                            Bản - Fukuoka, chuyên ngành
                                            quản trị kinh doanh.
                                            Với sự tích lũy kỹ năng trong quản lý, phân tích và cải thiện
                                            quy trình hoạt động trong các
                                            doanh nghiệp, Anh Thiện đề xuất những giải pháp hiệu quả và tối
                                            ưu hóa hoạt động kinh doanh.
                                            Với kinh nghiệm tư vấn và hỗ trợ cho hàng trăm doanh nghiệp giúp
                                            anh Thiện hiểu rõ các thách
                                            thức mà một doanh nghiệp phải đối mặt và tìm ra giải pháp phù
                                            hợp.
                                            Anh Thiện đã có cơ hội theo học tại trường Đại học kinh tế Nhật
                                            Bản - Fukuoka, chuyên ngành
                                            quản trị kinh doanh.
                                            Với sự tích lũy kỹ năng trong quản lý, phân tích và cải thiện
                                            quy trình hoạt động trong các
                                            doanh nghiệp, Anh Thiện đề xuất những giải pháp hiệu quả và tối
                                            ưu hóa hoạt động kinh doanh.
                                            Với kinh nghiệm tư vấn và hỗ trợ cho hàng trăm doanh nghiệp giúp
                                            anh Thiện hiểu rõ các thách
                                            thức mà một doanh nghiệp phải đối mặt và tìm ra giải pháp phù
                                            hợp.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-close">
                <i class="fas fa-times icon"></i>
            </div>
        </div>
    </div>
    <div class="back-to-top backToTop">
        <div class="triangle">
            <div class="triangle-inner"></div>
        </div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/split/splitting.min.js"></script>
    <script src="./js/library/ukiyo/ukiyo.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>