<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wr">
                <div class="header-logo">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="header-nav">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item current_page_item">
                                <a href="" class="menu-link">
                                    Về chúng tôi
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" class="menu-link">
                                    Khóa học</a>
                                <ul class="menu-list">
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">Khóa học</a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 1 2<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 1 3<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 1 4<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 1 5<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">Khóa học 2</a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 2 1<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 2 2<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 2 3<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">Khóa học 2 4<i
                                                        class="fas fa-caret-down"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link ">Hỏi đáp</a>
                            </li>

                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Tuyển dụng
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Blog học tập
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-info">
                    <a href="" class="header-info-it">
                        <span class="icon">
                            <img src="./assets/images/ic-ph.svg" alt="">
                        </span>
                        <span class="text">
                            0397987111
                        </span>
                    </a>
                    <a href="" class="header-info-it">
                        <span class="icon">
                            <img src="./assets/images/ic-mail.svg" alt="">
                        </span>
                        <span class="text">
                            anhmycenter@gmail.com
                        </span>
                    </a>
                </div>
                <div class="header-lg">
                    <div class="header-lg-item">
                        <div class="header-lg-head">
                            <div class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </div>
                        </div>
                        <div class="header-lg-body">
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                            <a href="" class="header-lg-it">
                                <span class="icon">
                                    <img src="./assets/images/vn.png" alt="">
                                </span>
                                <span class="text">VI</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="burger">
                    <div class="hamburger" id="hamburger">
                        <svg class="ham" viewBox="0 0 100 100" width="40">
                            <path class="line top"
                                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40">
                            </path>
                            <path class="line middle" d="m 30,50 h 40"></path>
                            <path class="line bottom"
                                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav  menu-have-icon">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu</a>
                                </li>
                                <li class="menu-item dropdown current_page_item">
                                    <a href="" class="menu-link">
                                        Dịch vụ
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link ">
                                                Dịch vụ 1
                                            </a>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 2
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 3
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Dịch vụ 1 4
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 2
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 3
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Dịch vụ 4
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item ">
                                    <a href="" class="menu-link">
                                        Kiến thức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tuyển dụng
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-add">
                <div class="mobile-fl mb-16s">
                    <span class="fw-6">Địa chỉ:</span>
                    <a href="" class="mobile-text mobile-link">
                        618 Đường 3 tháng 2, Phường 14,
                        Quận 10, Thành phố Hồ Chí Minh
                    </a>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-fb.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-yt.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-ins.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-tiktok.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-zalo.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main sc-pd8">
        <div class="container">
            <a href="" class="btn-pri">
                <span class="icon">
                    <img src="./assets/images/icon-plan.svg" alt="">
                </span>
                <span class="txt">
                    Gửi ngay
                </span>
            </a>
            <a href="" class="btn-see">
                <div class="btn-see-inner">
                    <span class="txt">
                        Xem thêm
                    </span>
                    <span class="icon">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </div>
            </a>
            <a href="" class="btn-see white">
                <div class="btn-see-inner">
                    <span class="txt">
                        Xem thêm
                    </span>
                    <span class="icon">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </div>
            </a>

            <div class="titles load-img">
                <p class="titles-sub">
                    <span class="txt">KIẾN THỨC</span>
                </p>
                <h3 class="titles-tt" data-splitting="">
                    Bài viết liên quan
                </h3>
            </div>
            <div class="titles center load-img">
                <p class="titles-sub">
                    <span class="txt">KIẾN THỨC</span>
                </p>
                <h3 class="titles-tt" data-splitting="">
                    Bài viết liên quan
                </h3>
            </div>
            <div class="relate">
                <div class="relate-slide">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="relate-it">
                                    <div class="inner">
                                        <div class="info">
                                            <p class="role">
                                                <span class="role-name">
                                                    KẾ TOÁN
                                                </span>
                                                <span class="role-date">
                                                    06.02.2023
                                                </span>
                                            </p>
                                            <h4>
                                                <a href="" class="tt">
                                                    Điều kiện, thủ tục, mẫu hồ sơ, cách đăng ký thành lập công ty
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="img">
                                            <a href="" class="img-inner img-shine">
                                                <img src="./assets/images/rel1.jpg" alt="">
                                            </a>
                                        </div>
                                        <a href="" class="link">
                                            <span class="link-txt">
                                                Xem thêm
                                            </span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="relate-it">
                                    <div class="inner">
                                        <div class="info">
                                            <p class="role">
                                                <span class="role-name">
                                                    KẾ TOÁN
                                                </span>
                                                <span class="role-date">
                                                    06.02.2023
                                                </span>
                                            </p>
                                            <h4>
                                                <a href="" class="tt">
                                                    Điều kiện, thủ tục, mẫu hồ sơ, cách đăng ký thành lập công ty
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="img">
                                            <a href="" class="img-inner img-shine">
                                                <img src="./assets/images/rel2.jpg" alt="">
                                            </a>
                                        </div>
                                        <a href="" class="link">
                                            <span class="link-txt">
                                                Xem thêm
                                            </span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="relate-it">
                                    <div class="inner">
                                        <div class="info">
                                            <p class="role">
                                                <span class="role-name">
                                                    KẾ TOÁN
                                                </span>
                                                <span class="role-date">
                                                    06.02.2023
                                                </span>
                                            </p>
                                            <h4>
                                                <a href="" class="tt">
                                                    Điều kiện, thủ tục, mẫu hồ sơ, cách đăng ký thành lập công ty
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="img">
                                            <a href="" class="img-inner img-shine">
                                                <img src="./assets/images/rel3.jpg" alt="">
                                            </a>
                                        </div>
                                        <a href="" class="link">
                                            <span class="link-txt">
                                                Xem thêm
                                            </span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="relate-it">
                                    <div class="inner">
                                        <div class="info">
                                            <p class="role">
                                                <span class="role-name">
                                                    KẾ TOÁN
                                                </span>
                                                <span class="role-date">
                                                    06.02.2023
                                                </span>
                                            </p>
                                            <h4>
                                                <a href="" class="tt">
                                                    Điều kiện, thủ tục, mẫu hồ sơ, cách đăng ký thành lập công ty
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="img">
                                            <a href="" class="img-inner img-shine">
                                                <img src="./assets/images/rel1.jpg" alt="">
                                            </a>
                                        </div>
                                        <a href="" class="link">
                                            <span class="link-txt">
                                                Xem thêm
                                            </span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="ctrl">
                        <div class="ctrl-prev">
                            <i class="fa-solid fa-chevrons-left"></i>
                        </div>
                        <div class="ctrl-next">
                            <i class="fa-solid fa-chevrons-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero load-img">
                <div class="container">
                    <div class="hero-wr">
                        <div class="hero-content">
                            <p class="hero-text" data-splitting="">
                                Hãy để chúng tôi đồng hành cùng những dự án của bạn
                            </p>
                            <a href="" class="btn-see white">
                                <div class="btn-see-inner">
                                    <span class="txt">
                                        Xem thêm
                                    </span>
                                    <span class="icon">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="hero-img">
                            <div class="hero-img-inner">
                                <img src="./assets/images/hero.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl">
                <div class="ctrl-prev"><i class="fa-solid fa-chevrons-left"></i></div>
                <div class="ctrl-next"><i class="fa-solid fa-chevrons-right"></i></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <a href="" class="custom-logo-link">
                    <img src="./assets/images/logo.png" alt="">
                </a>
                <p class="text">
                    Accounting & Tax Services
                </p>
            </div>
            <div class="footer-main">
                <div class="footer-flex row setGF">
                    <div class="footer-item">
                        <ul class="address">
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-locate.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    618 Đường 3 tháng 2, Phường 14,
                                    Quận 10, Thành phố Hồ Chí Minh
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-ph.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    <a href="" class="address-link">
                                        0931 845 160
                                    </a>
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-mail.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    <a href="" class="address-link">
                                        ketoaninno@gmail.com
                                    </a>
                                </p>
                            </li>
                            <li class="address-item">
                                <span class="icon">
                                    <img src="./assets/images/ic-time.svg" alt="">
                                </span>
                                <p class="address-desc">
                                    8:30 - 17:00
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <div class="footer-mid">
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur. Auctor pulvinar duis arcu porta sit bibendum.
                                Est
                                nulla nisl tincidunt id. Elementum felis amet habitant placerat eu turpis vitae dui.
                                Felis
                                fermentum sapien sed etiam sollicitudin tortor.
                            </p>
                            <div class="footer-f">
                                <form action="">
                                    <div class="footer-f-ip">
                                        <input type="text" placeholder="Điền email của bạn">
                                        <button type="submit">
                                            <span class="txt">
                                                <img src="./assets/images/icon-send.svg" alt="">
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <ul class="social">
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-fb.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-yt.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-tw.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-ins.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-it">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-tiktok.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Kiến thức
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Dịch vụ
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Tuyển dụng
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                     Liên hệ
                                </a>
                            </li>
                        </ul>
                        <div class="fanpage">
                            <div class="fanpage-inner">
                                <img src="./assets/images/fanpage.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-cpr">
            <div class="footer-cpr-img">
                <img src="./assets/images/Signature.svg" alt="">
            </div>
        </div>
    </footer>
    <div class="popup" data-popup-id="search">
        <div class="popup-overlay">
        </div>
        <div class="popup-main popup-search-box">
            <div class="popup-over">
                <div class="popup-wrapper">
                    <div class="popup-search">
                        <form action="">
                            <div class="popup-search-input">
                                <input type="text" placeholder="Nhập từ khóa...">
                                <button class="btn-pri">
                                    <span class="txt">Tìm kiếm</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="popup-close">
                <i class="fas fa-times icon"></i>
            </div>
        </div>
    </div>
    <div class="back-to-top backToTop">
        <div class="triangle">
            <div class="triangle-inner"></div>
        </div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/split/splitting.min.js"></script>
    <script src="./js/library/ukiyo/ukiyo.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>